.multiple-variant-table img {
    width: 100%;
}

.multiple-variant-table > div {
  display: flex;
  align-items: center;
  flex-direction: unset;
}

.multiple-variant-table > div > div {
  flex: 1;
  text-align: center;
}

.multiple-variant-table > div > div:first-of-type {
  text-align: left;
}

