@font-face {
  font-family: "League Spartan";
  src: url("./fonts/LeagueSpartan/LeagueSpartan-Medium.ttf");
  font-display: swap;
}

.section.view-menu-button *, .section.view-menu-button a {
  all: unset;
}

.section.view-menu-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 7vmin;
  padding: 0;
  width: 45vmin;
  height: 11vmin;
  background-color: rgb(85 34 35);
}

.section.view-menu-button a {
  display: block;
  margin: auto;
  font-size: 7vmin;
  white-space: nowrap;
  font-family: "League Spartan", sans-serif;
  cursor: pointer;
}

@media (orientation: portrait) {
  .section.view-menu-button {
    margin-top: 5vw;
    width: 30vw;
    height: 8vw;
    background-color: rgb(85 34 35);
  }

  .section.view-menu-button a {
    font-size: 5vw;
  }
}

@media (orientation: landscape) {
  .section.view-menu-button {
    margin-top: 6vh;
    width: 45vh;
    height: 10vh;
    background-color: rgb(85 34 35);
  }

  .section.view-menu-button a {
    font-size: 7vh;
  }
}
